@media only screen and (min-width: 1340px) {
    * {

        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {

        font-size: 10px;
        height: 100%;
    }

    body {

        height: 100%;
    }
}

@media only screen and (max-width:1340px) and (min-width:550px) {

    * {

        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {

        font-size: 7px;
        height: 100%;
    }


    body {

        height: 100%;
    }

}

@media only screen and (max-width:550px) {

    * {

        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {

        font-size: 5px;
        height: 100%;
    }


    body {

        height: 100%;
    }

}